@charset "UTF-8";
@use "../../mixins";

.component-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 0 20px;

  @include mixins.aboveLargeMobile {}

  // scoped.

  .letter {
    font-family: Lobster, cursive;
    font-size: 1.5em;

    @include mixins.aboveLargeMobile {
      font-size: 2.4em
    }

  }

}