@charset "UTF-8";
@use "../../mixins";

.component-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @include mixins.aboveLargeMobile {}

  // scoped.

  .heading02 {
    font-size: 3em;
    font-weight: 300;
    transform: translateY(-100%);
    @include mixins.aboveLargeMobile {
      font-size: 4.8em
    }

  }

}