@charset "UTF-8";
@use "../../mixins";

.components-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @include mixins.isLargeMobile {
    width: 60%;
    padding: 0;
  }

  // scoped.

  .navi-list {

    @include mixins.isLargeMobile {}

  }

  .navi-link {
    font-size: 1.375em;
    font-weight: 300;

    @include mixins.isLargeMobile {
      font-size: 2.2em
    }

  }

}