@charset "UTF-8";
/*==============================================================================

 Navigation Components SCSS.

==============================================================================*/
.components-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @include isLargeMobile {
    width: 60%;
    padding: 0;
  }

  // scoped.
  .navi-list {

    @include isLargeMobile {}

  }

  .navi-link {
    font-size: 1.375em;
    font-weight: 300;

    @include isLargeMobile {
      font-size: 2.2em
    }

  }

}