@charset "UTF-8";
@use "../mixins";

.txt-indent {
  text-indent: -10000px;
}

.display-sp {
  display: block;
}

.display-tablet {
  display: block;
}

.display-pc {
  display: none;
}
@include mixins.isLargeMobile {
  .display-sp {
    display: none;
  }

  .display-tablet {
    display: block;
  }

  .display-pc {
    display: block;
  }
}
@include mixins.isTablet {
  .display-sp {
    display: none;
  }

  .display-tablet {
    display: none;
  }

  .display-pc {
    display: block;
  }
}