@charset "UTF-8";

$SMALL_MOBILE_WIDTH: 320;
$MIDDLE_MOBILE_WIDTH: 414;
$LARGE_MOBILE_WIDTH: 767;
$TABLET_WIDTH: 1024;
$LAPTOP_WIDTH: 1536;
$DESKTOP_WIDTH: 1920;

$SMALL_MOBILE_BREAK_POINT: $SMALL_MOBILE_WIDTH + 1 + 'px';
$MIDDLE_MOBILE_BREAK_POINT: $MIDDLE_MOBILE_WIDTH + 1 + 'px';
$LARGE_MOBILE_BREAK_POINT: $LARGE_MOBILE_WIDTH + 1 + 'px';
$TABLET_BREAK_POINT: $TABLET_WIDTH + 1 + 'px';
$LAPTOP_BREAK_POINT: $LAPTOP_WIDTH + 1 + 'px';