<ul class="components-navigation">
  <li class="navi-list">
    <a href="<%= props.relativePath %>index.html" class="navi-link">Primary Page</a>
  </li>
  <li class="navi-list">
    <a href="<%= props.relativePath %>secondary/" class="navi-link">Secondary Page</a>
  </li>
  <li class="navi-list">
    <a href="<%= props.relativePath %>third/" class="navi-link">Third Page</a>
  </li>
  <li class="navi-list">
    <a href="<%= props.relativePath %>fourth/" class="navi-link">Fourth Page</a>
  </li>
</ul>
