@charset "UTF-8";
/*==============================================================================

 Variables SCSS.

==============================================================================*/
/* ------------------------
 Break Points.
-------------------------*/
$SMALL_MOBILE_WIDTH: '325px';
$MOBILE_WIDTH: '480px';
$LARGE_MOBILE_WIDTH: '768px';
$TABLET_WIDTH: '991px';
$DESKTOP_WIDTH: '1170px';
$LARGE_DESKTOP_WIDTH: '1392px';